*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family:"Google Sans",Roboto,Arial,Helvetica,sans-serif;
}

.mr-auto{
    margin-right: auto;
}

a{
    display: inline-block;
    text-decoration: none;
    color: #666;
}

a.hover{
    color:black;
}

header{
    background: white;
    box-shadow: 0 0 4px 2px #ddd;
    width:100%;
    position: fixed;   
}

.clear{
    height:112px;
}

header nav{
    height:56px;
    display:flex;
    align-items:center;
    padding: 0 2%;
    border-bottom: 1px solid #ddd;
    font-size: 14px; 
}

header img{
    height:36px;
}

.btn{
    color: white;
    background: #1a73e8;
    padding: 0 24px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 4px;
    letter-spacing: 0.75px;
    font-weight: 600;
}

.btn:hover{
    color:white;
    background :#174ea6;
}

.gmail-logo-text{
    font-size: 28px;
    color:#444;
    margin-left: 8px;
}

footer{
    margin: 32px 16px;
    background:#f8f8f8;
}

footer img{
    height: 36px;
}

footer nav{
    margin: 32px 16px;
}

footer ul{
    display: flex;
    list-style: none;   
}

footer li{
    margin-right: 16px;
}

footer select{
    margin-left: 16px;
    border:none;
    background-color: #f8f8f8;
    padding: 8px;
    width: 160px
}

.help-icon{
    color:white;
    font-weight: 600;
    background: black;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 99px;
    margin-right: 8px;
}

/*sections*/

section{
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,h2{
    font-size: 32px;
    color: rgb(32, 32, 32);
    font-weight: 600;
    margin: 20px 0;
    text-align: center;
    letter-spacing: 1px;
}

h1{
    font-size: 42px;
}

p{
    font-size: 13px;
    text-align: center;
    color: rgb(32, 32, 32);
    margin: 12px;
}

.hero-section , .avoid-suspicious-emails ,.never-drop-ball, .stay-organized-instantly{
    background: #f8f8f8;
}

.get-started-with-gmail > *{
    margin: 28px 0;
}

.get-started-with-gmail img{
    height: 72px;
}

.get-started-with-gmail .btn{
    line-height: 42px;
}

.Experinece-gamil-device img{
    height: 48px;
    margin-top: 20px;
}

.m4{
    margin: 40px;
}

.device img{
   width: 100%;
}